*{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: 500;
}

body{
    background: url(bgimage.jpg);
    background-size: cover;
}

h3{
    padding-left: 50px;
    color: white;
    background-color: transparent;
}

#link{
    text-decoration: none;
}

h3:hover{
    text-shadow: 0 1px 1px pink;
}

.card-body{
    background-color: transparent;
}
.card-title{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 20px;
}

.card-text{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 20px;
    word-wrap: break-word;
    white-space: normal;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: #fafaff12;
    transition: 0.2s;
    position: absolute;
    top: 85px;
    left: 45px;
    right: 45px;
    bottom: 25px;
    margin: 20px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
}

.card-img-top {
    border-radius: 10px;
    width: 95%; 
    height: 30%;
    object-fit: cover;
    margin-top: 2%;
    position: relative;
}

.card::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .card::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background color of the track */
    border-radius: 5px; /* Makes it rounded */
  }
  
  .card::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 5px; /* Rounded scrollbar */
  }
  
  .card::-webkit-scrollbar-thumb:hover {
    background: #555; /* Changes color when hovered */
  }
