*{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: 500;
}

body{
    background: url(bgimage.jpg);
    background-size: cover;
}

h3{
    padding-left: 50px;
    color: white;
    background-color: transparent;
}

#link{
    text-decoration: none;
}

h3:hover{
    text-shadow: 0 1px 1px pink;
}

.card-body{
    background-color: transparent;
}
.card-title{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 20px;
}

.card-text{
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding-top: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: #fafaff12;
    transition: 0.2s;
    position: absolute;
    top: 85px;
    left: 45px;
    right: 45px;
    bottom: 25px;
    margin: 20px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-img-top {
    border-radius: 10px;
    width: 95%; /* Adjusts image width to fit the card */
    height: 30%;
    object-fit: cover;
    margin-top: 20px;
}
